<html>
  <head>
    <title>The User Management System</title>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
  </head>

  <!--  Display the application -->
  <body ui-view>
  		<script src="js/lib/angular.min.js" ></script>
        <script src="js/lib/angular-ui-router.min.js" ></script>
        <script src="js/lib/localforage.min.js" ></script>
        <script src="js/lib/ngStorage.min.js"></script>
        <script src="js/app/App.js"></script>
        <script>
        var app=angular.module("myApp",[]);
        app.controller("cotr1",function ($scope,$http) {
          
            $http.get("/person?id=1").success(function (data) {
                alert(data.name);
            })
        });
        </script>
    <div class="con" ng-controller="contrl">
    </div>

  </body>
</html>
